extends ../layout

block content

  div#header
    a(href='/')
      img(id='headerImg' src='../../../galvanize_logo.png')
    h1#headerText Galvanize Reads
    div#login
      a(href="/login")
        input#loginClick(type="button" value="Login")
      if currentUser
        p#welcomeText Hello #{currentUser}! Be wise in your selection...
        a(href="/logout")
          input#loginOutClick(type="button" value="Log Out")
        a(href="/books/#{currentUser}/new")
          input#createNewBook(type='button' value='Create New Book')
        a(href="/authors/#{currentUser}/new")
          input#createNewAuthor(type='button' value='Create New Author')

  a(href='/books')
    div#sidebarTop
      img(id='sidebarTopImg' src='../../../books.jpg')
      h1#sidebarTopText Books

  form(action="/books/#{theBook.id}/delete" + "?_method=delete", method="post")
    div#authorsInfo
      div#authorsPhotoBox
        img(id='authorsPhoto' src= '#{theBook.url}')
      div#authorsInfoBox
        h1#authorsFirstName #{theBook.title}
        h3#byAuthor (Authors will be listed here)
        h3#genreTitle #{theBook.genre}
        p#authorsBio #{theBook.description}
        input(id='deleteBookButton' type='submit' value='Delete Book?')

  a(href='/authors')
    div#sidebarBottom
      img(id='sidebarBottomImg' src='../../../author.jpg')
      h1#sidebarTopText Authors
